<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat2Edit</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.5.0/fabric.min.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="editor">
        <div id="toolBar">
            <button id="uploadBtn">Upload</button>
            <button id="addBtn">Add</button>
            <label for="canvasSize">Canvas Size:</label>
            <select id="canvasSize">
                <option value="fit">Fit</option>
                <option value="1:1">1:1</option>
                <option value="3:4">3:4</option>
                <!-- Add more options as needed -->
            </select>
            <form>
                <label for="instruction">Instruction:</label>
                <input type="text" name="instruction" id="instruction">
                <input type="button" name="editBtn" id="editBtn" value="Edit">
            </form>
        </div>
        <input type="file" id="uploadedImage" accept="image/*" class="hidden">
        <input type="file" id="addedImage" accept="image/*" class="hidden">
        <canvas id="canvas">
        </canvas>
        
    </div>
    <script src="/static/index.js"></script>
    <script src="/static/edit.js"></script>
</body>
</html>
