body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: rgb(3, 146, 146);
    display: flex;
    justify-content: center;
    align-items: center;
}

#editor {
    padding: 10px;
    margin-top: 50px;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(136, 192, 184);
}

#canvas {
    background-color: rgb(255, 255, 255);
    position: relative;
}

input:focus {
    outline: none;
}

#toolBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.hidden {
    display: none;
}   

